#swiper-component {
    width: 30vw;
}

#images-container {
    height: 60vh;
    /* background-color: blue; */
}

#swiper-container {
    height: calc(40vh - 70px);
    width: calc(30vw - 40px);
    background-color: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    -webkit-box-shadow: 5px -1px 15px 8px rgba(0,0,0,0.1); 
    box-shadow: 5px -1px 15px 8px rgba(0,0,0,0.1);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#swiper-component {
    /* background-color: green; */
    margin-top: 30px;
    width: calc(30vw - 40px);
    color: #3b4e61;
    padding-left: 25px;
    /* padding-right: 25px; */
    padding-right: 15px;
}

#footer-swiper {
    width: calc(30vw - 40px);
    margin-top: 10px;
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 1200px) {
    #swiper-container {
      width: 100vw;
      height: 35vh;
      /* height: 100%; */
      padding-left: 0px;
      padding-right: 0px;
    }

    #swiper-component {
        width: 70%;
    }

    #footer-swiper {
        width: 70%;
    }
}
  

.title-slider {
    font-size: 23px;
    color: #3b4e61;
    font-weight: 500;
}

.text-slider {
    margin-top: 15px;
}

#button-swiper {
    background-color: #376aed;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
    -webkit-box-shadow: 5px -1px 15px 8px rgba(0,0,0,0.1); 
    box-shadow: 5px -1px 15px 8px rgba(0,0,0,0.1);
    cursor: pointer;
}

.dots-swiper {
    background-color: #376aed;
    height: 10px;
    border-radius: 5px;
}

.dots-swiper:not(:first-child) {
    margin-left: 10px;
}

#dots-container {
    display: flex;
    flex-direction: row;
    padding-left: 6px;
}

.image {
    border-radius: 30px;
    -webkit-box-shadow: 5px -1px 15px 8px rgba(0,0,0,0.1); 
    box-shadow: 5px -1px 15px 8px rgba(0,0,0,0.1);
}

.image-right {
    margin-left: 15px;
}

#images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#horizontal-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    /* width: 25px; */
    margin-top: 15px;
}