#profile-box {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.12); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.12);
    margin-top: 40px;
    border-radius: 10px;
}

#stories-person-profile {
    width: 90px;
    height: 90px;
    border-radius: 40px;
    background-position: center;
    background-size: 130px;
    background-repeat: no-repeat;
}

#box-measures {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.12); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.12);    
}