#main-screen {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: gray;
}

.App {
  background-color: #f8faff;
  width: 30vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
