#main-screen {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: gray;
  position: relative;
  z-index: 1000;
}

.App {
  background-color: #f8faff;
  width: 30vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .App {
    width: 80vw;
  }
}

